* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFC7C7;
}

.jumbo {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    font-family: 'Spartan', sans-serif;
    color: black;
    font-size: 1rem;
}

.hide {
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}